<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:dist="http://schemas.android.com/apk/distribution"
    package="jergro.bmicalculator.app">

    <dist:module
        dist:instant="true"
        dist:onDemand="false"
        dist:title="@string/title_bminstatnt">
    </dist:module>



</manifest>

